*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*::selection {
  background-color: var(--clr-heading);
  color: var(--clr-background);
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
html {
  scroll-padding-top: 72.8px;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--clr-background);
  text-rendering: optimizeSpeed;
  line-height: var(--leading-content);
  font-family: var(--ff-primary);
  font-weight: 300;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
img {
  object-fit: cover;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.leading-heading,
h1,
h2,
h3,
h4,
h5 {
  line-height: var(--leading-heading);
}