:root {
  --clr-blue: #5f94ff;
  --clr-red: #ff4b64;
  --clr-yellow: #ffca2a;
  --clr-green: #9dcb45;
  --clr-grey: #c8c6c0;
  --clr-light: #e5e2db;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-button {
  background: var(--clr-light);
  color: var(--clr-light);
  width: 2rem;
}
img {
  display: block;
  max-width: 100%;
}
.nav,
.container {
  padding-inline: 1rem;
  max-width: 1200px;
  margin-inline: auto;
}
.nav {
  padding: 1rem;
  width: 100%;
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  color: var(--clr-light);
}
.logo { font-size: 2rem; }
.nav-list {
  list-style: none;
  display: flex;
  gap: 2em;
}
.nav-link {
  text-decoration: none;
  color: var(--clr-light);
}
.section--hero {
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(170deg, var(--clr-yellow) 80%, white 80%);
}
.hero-content {
  position: relative;
  /* transform: translateY(-4rem); */
  z-index: 20;
  text-align: center;
  color: var(--clr-light);
  text-shadow: 0px 0px 4px rgb(0 0 0 / .5);
}
.hero-image {
  position: absolute;
  top: -1rem;
  right: 0;
  z-index: 10;
}
.main-title {
  font-size: clamp(2.5rem, calc(8vw+.5rem), 4rem);
}
.sub-title {
  font-size: 2rem;
  max-width: 35ch;
  margin-inline: auto;
}
.section--featured {
  position: relative;
  padding: 6rem 0;
}
.section--hero::before,
.section--hero::after,
.section--featured::before,
.section--featured::after,
.section--search .container::before,
.section--search .container::after {
  --bg-pseudo: ;
  position: absolute;
  content: '';
  inset: 0;
  background: var(--bg-pseudo);
}
.section--hero::before {
  --bg-pseudo: linear-gradient(-170deg, var(--clr-blue) 50%, transparent 50%);
}
.section--hero::after {
  --bg-pseudo: linear-gradient(-170deg, var(--clr-red) 80%, transparent 80%);
  clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 70% 90%);
}
.section--featured::before {
  --bg-pseudo: var(--clr-blue);
  z-index: -2;
  clip-path: polygon(0 0, 100% 20%, 100% 70%, 0% 100%);
}
.section--featured::after {
  --bg-pseudo: var(--clr-yellow);
  z-index: -1;
  left: 60%;
  clip-path: polygon(8% 8%, 100% 0, 100% 100%, 0 90%);
}
.section--featured>.container {
  display: flex;
  gap: 1rem;
  padding: .5rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: scroll;
  transition: transform .3s ease;
}
.section--featured>.container::-webkit-scrollbar {
  display: none;
}
.card {
  position: relative;
  overflow: hidden;
  height: 20rem;
  box-shadow: 0px 0px 4px 2px rgb(0 0 0 / .35);
}
.card>img:not(.card--article>img) {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card--slide {
  flex-shrink: 0;
  width: 240px;
}
.card-title {
  font-size: 2rem;
  position: absolute;
  z-index: 2;
  bottom: 1rem;
  left: 1rem;
  text-align: center;
  text-shadow: 0px 0px 4px rgb(0 0 0 / .5);
  color: var(--clr-light);
}
.section--search .container {
  position: relative;
  height: 20rem;
  display: grid;
  align-items: center;
}
.section--search .container::before {
  --bg-pseudo: var(--clr-light);
  clip-path: polygon(0% 0%, 100% 0%, 95% 95%, 5% 80%);
  z-index: -1;
}
.section--search .container::after {
  --bg-pseudo: var(--clr-green);
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 5% 75%);
  z-index: -2;
}
.scroll-controls {
  display: flex;
  gap: 1em;
  justify-content: center;
}
.btn--scroll {
  background: unset;
  height: 3rem;
  border: 0;
  cursor: pointer;
}
.arrow {
  display: inline-block;
  width: 3rem;
  height: .5rem;
  background: var(--clr-red);
}
.arrow-left {
  clip-path: polygon(0% 100%, 30% 0%, 30% 70%, 100% 70%, 100% 100%);
}
.arrow-right {
  clip-path: polygon(0% 70%, 70% 70%, 70% 0%, 100% 100%, 0% 100%);
}
.form-group {
  display: grid;
  gap: 1rem;
}
@media (width>40em) {
  .form-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 8rem;
  }
}
.form-group>* {
  border-radius: 100vmax;
  padding: .5em 1em;
}
input {
  /* border: 0; */
  font-size: 1.25rem;
  width: 100%;
}
.btn--search {
  font-size: 1.25rem;
  border: 0;
  background-color: var(--clr-red);
  color: var(--clr-light);
}
.characters-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));
}