/**
* Primary header start here
*/

.primary-header .container {
  align-items: center;
}

.primary-header-logo {
  max-width: 6.875rem;
}

.primary-nav-toggle {
  display: none;
  z-index: 999;
  background-color: unset;
  border: 0;
}

@media (max-width: 913px) {
  .primary-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--clr-neutral-800);
    transition: transform .3s ease;
  }
  .primary-nav[data-expanded="true"] {
    transform: translateX(0%);
  }
  .primary-nav[data-expanded="false"] {
    transform: translateX(100%);
  }

  .primary-nav-list {
    flex-direction: column;
  }

  .primary-nav-toggle {
    display: block;
  }
}

.primary-nav-link {
  transition: color .3s ease-in-out;
}

.primary-nav-link[data-active="true"] {
  color: var(--clr-neutral-100);
}

.primary-nav-link:not([data-active="true"]):hover {
  color: var(--clr-neutral-200);
}

.primary-header-cta {
  margin-left: auto;
}

.btn-header-cta {
  background-color: transparent;
  border: 0;
}

.btn-header-cta img {
  max-width: 40px;
}

/**
* Primary header end here
*/

/**
* Hero section start here
*/

.hero {
  min-height: 98vh;
  display: grid;
  place-items: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background:
    linear-gradient(90deg, hsl(0 0% 0% / 65%) 35%, transparent),
    var(--image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  z-index: -1;
}

.hero-content {
  max-width: 70ch;
}

.hero-title {
  color: var(--clr-neutral-100);
  font-size: clamp(3rem, calc(7vw + .5rem), 84px);
  font-weight: 700;
  line-height: 1;
}

.hero-subtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  color: white;
}

.hero-cta {
  align-items: center;
  font-weight: 600;
}

.btn-hero-cta {
  padding: .5em 1.5em;
  border: 0;
}

.btn-hero-cta:first-of-type {
  background-color: white;
  color: #000;
}

.btn-hero-cta:last-of-type {
  background-color: var(--clr-neutral-800);
  color: #fff;
}

/**
* Hero section end here
*/

/**
* Movies section start here
*/

.movies-section {
  position: relative;
}

.movies-section::-webkit-scrollbar {
  display: none;
}

.movies-row {
  transition: transform .3s ease;
  transform: translateX(0px);
}

.btn-prev,
.btn-next {
  --edge: -1rem;
  position: absolute;
  z-index: 99;
  top: 2.1rem;
  font-weight: 700;
  background-color: hsl(0 0% 10% / .85);
  bottom: 0;
  width: 2rem;
  color: #fff;
  border: 0;
  transition: transform .3s ease-in;
}

.btn-prev {
  left: var(--edge);
  transform: translateX(calc(var(--edge) * 2));
}

.btn-next {
  right: var(--edge);
  transform: translateX(calc(var(--edge) * -2));
}

.movies-section:hover .btn-prev,
.movies-section:hover .btn-next {
  transform: translate(0);
}

.section-title {
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--clr-neutral-100);
  cursor: pointer;
  margin-bottom: .625em;
}

.explore-badge {
  display: inline-block;
  color: #54b9c5;
  font-size: .75rem;
  opacity: 0;
  transform: translateX(-100px);
  transition:
    opacity .3s ease-in-out,
    transform .3s ease-in;
}

.section-title:hover .explore-badge {
  opacity: 1;
  transform: translateX(0);
}

.movies-row {
  align-items: center;
}

.movies-row::-webkit-scrollbar {
  display: none;
}

.movies-item {
  width: 245px;
  flex-shrink: 0;
  border-radius: .25rem;
  overflow: hidden;
  transition: transform .3s ease;
}

.movies-item img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 10rem;
  object-fit: cover;
}

.movies-item:hover,
.movies-item:focus {
  transform: scale(1.2);
}

/**
* Movies section end here
*/

/**
* iframe start here
*/

iframe {
  aspect-ratio: 16 / 9;
  width: calc(100% - 2rem);
  max-width: 420px;
  position: fixed;
  z-index: 999;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

/**
* iframe end here
*/
